<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Store Settings</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  </div>


  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-md-12">
      <div id="accordion" class="setting_accordian">
        <app-store-info></app-store-info>

        <!--SECOND TAB-->

        <app-store-hours></app-store-hours>

        <!--STORE LOGO TAB-->
        <app-store-logo></app-store-logo>
        <!--STORE MENU TAB -->
        <app-store-menu></app-store-menu>
        <!--reward settings-->
        <app-reward-setting></app-reward-setting>
        <!-- social media links -->
        <app-social-media-links></app-social-media-links>
        <!-- App Appearance -->
        <app-app-setting></app-app-setting>


      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->