<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change your password</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Current Password</label>
                                <input formControlName="old_password" type="password" name="password" id="password"
                                    class="form-control input-lg" placeholder="Current Password">
                                <div *ngIf="submitted && f.old_password.errors" class="validation-feedback">
                                    <div *ngIf="f.old_password.errors.required">Current password is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="new_password">New Password</label>
                                <input formControlName="new_password" type="password" id="new_password"
                                    class="form-control input-lg" minlength="8" placeholder="New Password">
                                <div *ngIf="submitted && f.new_password.errors" class="validation-feedback">
                                    <div *ngIf="f.new_password.errors.required">New password is
                                        required
                                    </div>
                                    <div *ngIf="f.new_password.errors.minlength">New password must contain at least 8 characters 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input formControlName="confirm_new_password" type="password" id="password_confirmation"
                                    class="form-control input-lg" placeholder="Confirm Password">
                                <div *ngIf="submitted && f.confirm_new_password.errors" class="validation-feedback">
                                    <div *ngIf="f.confirm_new_password.errors.required">Confirm password is
                                        required
                                    </div>
                                </div>
                                <div *ngIf="submitted && passwordForm.errors" class="validation-feedback">
                                    <div *ngIf="passwordForm.errors.confirmPasword">Password does not match
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button #closebtn style="width: 20%;" class="btns btns-link" type="button"
                        data-dismiss="modal">Cancel</button>
                    <button style="width: 20%;" class="btns btns-link btn-1 btn-1b" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>