.n-l{
    margin-bottom: 20px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 5px;
}
.n-l-a{
    float: right;
    font-size: 20px;
}
.n-l-a >i.fa-edit{
    color: #1cc88a;
    cursor: pointer;
   
}
.n-l-a>i.fa-times-circle{
    color: #e74a3b;
    cursor: pointer;
}

.n-l-t-d{
    font-weight: bolder;
}
.n-l-d{
    font-weight: bolder;
    background-color: #f16400;
    color: white;
    font-size: 10px;
    padding: 2px;
    border-radius: 5px;
}