<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Rewards</h1>

    <a routerLink="/home/rewards/add" class="btns btn-1 btn-1b" data-step="4" data-intro="<b>Intro Title</b><hr> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum ac neque a pharetra. Phasellus volutpat augue ut finibus hendrerit. In maximus magna a enim egestas, congue porttitor diam sagittis.">
      <i class="fas fa-plus fa-sm text-white-100"></i> Add reward</a>
  </div>


  <!-- Content Row -->
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4" data-step="1" data-intro="<b>Intro Title</b><hr> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum ac neque a pharetra. Phasellus volutpat augue ut finibus hendrerit. In maximus magna a enim egestas, congue porttitor diam sagittis." data-position='right'>
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Customer List</h6>
          </div> -->
        <div class="card-body">
          <table *ngIf="tData; else noRecord" class="table table-bordered dataTable" datatable id="dataTable"
            width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;"
            [dtOptions]="dtOptions">
            <thead>
              <tr role="row">
                <th rowspan="1" colspan="1" style="width: 161px;">Reward Name</th>
                <th rowspan="1" colspan="1" style="width: 115px;">
                  Required Points</th>
                <th rowspan="1" colspan="1" style="width: 51px;">Start
                  Date
                </th>
                <th rowspan="1" colspan="1" style="width: 51px;">Expiry Date
                </th>

                <th rowspan="1" colspan="1" style="width: 97px;">
                  Status
                </th>
                <th rowspan="1" colspan="1" style="width: 97px;">Action
                </th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let reward of storeReward; let i = index" role="row">
                <td class="sorting_1">{{reward.reward_title}}</td>
                <td>{{reward.points_required}}</td>
                <td>{{reward.start_date_time}}</td>
                <td>{{reward.end_date_time}}</td>
                <td data-step="2" data-intro="<b>Intro Title</b><hr> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum ac neque a pharetra. Phasellus volutpat augue ut finibus hendrerit. In maximus magna a enim egestas, congue porttitor diam sagittis.">
                  <div class="checkbox">
                    <label class="switch" ngbTooltip="{{reward.enabled==1?'disable':'enable'}}">
                      <input type="checkbox" (change)="enableDisableReward(reward)" class="default"
                        value="{{reward.enabled==1?true:false}}" [checked]="reward.enabled==1">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </td>
                <td class="actions">
                  <a routerLink="/home/rewards/edit" ngbTooltip="Edit" [queryParams]="{reward_id: reward.reward_id}"><i
                      class="fa fa-edit"></i></a>
                  |
                  <i ngbTooltip="Delete" class="fa fa-times-circle" style="cursor: pointer;" (click)="openConfirmationDialog(i,reward)"></i>
                </td>
              </tr>
            </tbody>
          </table>

          <ng-template #noRecord class="row">
            <div class="col-md-12" style="text-align: center;">
              No record found
            </div>
          </ng-template>

        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->