<body class="bg-light">

  <div *ngIf="salon" class="top-bar bg-primary">
      <div class="container text-center ">
          <h4 class=" text-white py-2">{{salonDetails.store_name}}</h4>
      </div>
  </div>

  <main>
      <div class="container "  *ngIf="salon">
          <div class="card col-5 mt-4 mx-auto shadow-sm ">
              <div class="card-body">
                  
                <form name="form" (ngSubmit)="f.form.valid && onStoreSubmit()" #f="ngForm" novalidate>
                  <div class="form-group text-center">
                  <div class="form-group">
                    <label for="" class="h4">Enter Phone # </label>
                    <div class="row">
                        <div class="col-md-12">
                      <input type="text" class="form-control" name="phone_number" [(ngModel)]="custPhonenumber.phone_number" #phone_number="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone_number.invalid }" required />
                      <div *ngIf="f.submitted && phone_number.invalid" class="invalid-feedback">
                          <div *ngIf="phone_number.errors.required">Phone number is required</div>
                      </div>
                      </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Submit</button>
                  </div>
                </div>
                </form>
              </div>
          </div>
      </div>

      <div class="container" >
          <!-- <h4 class="text-center mt-2">Customer Name: {{customerDetails.customer.first_name}} {{customerDetails.customer.last_name}}</h4> -->
          <div class="card col-5 mt-4 mx-auto shadow-sm ">
            <form name="form" (ngSubmit)="f.form.valid && onRewardSubmit()" #f="ngForm" novalidate>

              <div class="card-body" *ngIf="!rewardConfirm">
                  <div class="form-group text-center">
                  <div class="form-group">
                    <label for="" class="h4">Add Reward Points</label>
                    <div class="row">
                        <div class="col-md-12">
                      <input type="text" class="form-control" name="reward" [(ngModel)]="custReward.reward" 
                      #reward="ngModel" [ngClass]="{ 'is-invalid': f.submitted && reward.invalid }" required />
                      <div *ngIf="f.submitted && reward.invalid" class="invalid-feedback">
                          <div *ngIf="reward.errors.required">Reward amount is required</div>
                      </div>
                      </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </form>
            <form name="form" (ngSubmit)="f.form.valid && onRewardPINSubmit()" #f="ngForm" novalidate>

              <div class="card-body" *ngIf="rewardConfirm" >
                <div class="form-group text-center">
                <div class="form-group">
                  <label for="" class="h4">Are you sure?</label>
                  <div class="row" style="margin-top: 8px;">
                    <div class="col-md-4">
                      <h4 style="float: right;">PIN</h4>
                    </div>
                      <div class="col-md-4">
                    <input type="text" class="form-control" name="pin" [(ngModel)]="custPIN.pin" #pin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pin.invalid }" required />
                    <div *ngIf="f.submitted && pin.invalid" class="invalid-feedback">
                        <div *ngIf="pin.errors.required">PIN is required</div>
                    </div>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <button style="margin:5px;" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-primary">No</button>

                </div>
              </div>
            </div>
                </form>
          </div>

          <!-- <div class="row mt-3">

              <div *ngIf="customerDetails.active_rewards.length > 0" class="col-8 text-center mx-auto ">
                  <h5 class="text-center mb-3">Redeem Rewards</h5>

                      <a *ngFor="let rewards of customerDetails.active_rewards"  href="javascript:void(0);" class="btn btn-primary">${{rewards.points_required}} off {{rewards.reward_title}}</a>
              </div>
              <div *ngIf="customerDetails.active_rewards.length == 0" class="col-8 text-center mx-auto ">
                <h5 class="text-center mb-3">No reward available</h5>
            </div>
          </div> -->
      </div>

      <div class="container" *ngIf="customer">
          <h4 class="text-center mt-4">Customer Name {{customerDetails.customer.first_name}} {{customerDetails.customer.last_name}}</h4>
          <h6 class="text-center mb-4">Earned 50 Points</h6>
          <div class="text-center">
              <button type="button" class="btn btn-primary w-25 ">Return to Dashboard</button>
          </div>
      </div>
  </main>

</body>
<!-- <div class="salon" *ngIf="salon">
<p>{{salonDetails.store_name}}</p>
 
</div>  
<div class="customer" *ngIf="customer">
    Customer : {{customerDetails.first_name}} {{customerDetails.last_name}}
</div> -->


<ng-template #content let-modal>
    
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
       
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>








 
  <h1>asdfa</h1>