<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add news/promotion</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>
    <div class="row">

        <div class="col-xl-6 col-md-8 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">News/Promotion Text</h6>
                </div> -->
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#textStyle">Text Style</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#shadowStyle">Shadow Style</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#strockStyle">Strock Style</a>
                                </li>
                                <li class="nav-item">
                                    <input type="button" (click)="addNewText()" value="Add New Text"
                                        class="btn btn-primary">
                                </li>
                                <li class="nav-item">
                                    <input type="button" (click)="deleteText(selectedTextIndex)" value="Delete"
                                        class="btn btn-danger">
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="textStyle" class="container tab-pane active"><br>
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12">
                                            <label for="font-family">Text</label>
                                            <input id="titleText" (keyup)="changeDrawing()" [(ngModel)]="text"
                                                type="text" class="form-control" maxlength="100">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-3 col-md-3">
                                            <label for="font-family">Font family</label>
                                            <div class="form-group">
                                                <select [(ngModel)]="fontFamily" (change)="changeDrawing()" name=""
                                                    id="font-family" class="form-control custom-select">
                                                    <option style="font-family: Arial;" value="Arial">Arial</option>
                                                    <option style="font-family: Verdana;" value="Verdana">Verdana
                                                    </option>
                                                    <option style="font-family: Times New Roman;"
                                                        value="Times New Roman">
                                                        Times
                                                        New
                                                        Roman</option>
                                                    <option style="font-family: Courier New;" value="Courier New">
                                                        Courier
                                                        New
                                                    </option>
                                                    <option style="font-family: serif;" value="serif">serif</option>
                                                    <option style="font-family: sans-serif;" value="sans-serif">
                                                        sans-serif
                                                    </option>
                                                    <option style="font-family: Pacifico;" value="Pacifico">Pacifico
                                                    </option>
                                                    <option style="font-family: GreatVibes-Regular;"
                                                        value="GreatVibes-Regular">
                                                        GreatVibes-Regular</option>
                                                    <option style="font-family: Lobster_1.3;" value="Lobster_1.3">
                                                        Lobster_1.3
                                                    </option>
                                                    <option style="font-family: SEASRN__;" value="SEASRN__">SEASRN__
                                                    </option>
                                                    <option style="font-family: Sail-Regular;" value="Sail-Regular">
                                                        Sail-Regular
                                                    </option>
                                                    <option style="font-family: FFF_Tusj;" value="FFF_Tusj">
                                                        FFF_Tusj
                                                    </option>
                                                    <option style="font-family: Chomsky;" value="Chomsky">
                                                        Chomsky
                                                    </option>
                                                    <option style="font-family: Windsong;" value="Windsong">
                                                        Windsong
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-3">
                                            <div class="form-group">
                                                <label for="font-size">Font-size</label>
                                                <div class="form-group">
                                                    <select class="form-control custom-select"
                                                        (change)="changeDrawing()" [(ngModel)]="fontSize" name=""
                                                        id="font-size">

                                                        <option *ngFor="let num of getFontSize(50,501)" value="{{num}}">
                                                            {{num}} px
                                                        </option>
                                                    </select>
                                                    <!-- <input id="font-size" type="range" (change)="changeDrawing()"
                                                        [(ngModel)]="fontSize" name="points" min="50" max="1000"> -->
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-2">
                                            <label for="Format">Format</label>
                                            <div class="form-group">
                                                <i class="fa fa-bold formatIcons" (click)="doBold()"
                                                    [ngClass]="{'active': bold}"></i>
                                                <i class="fa fa-italic formatIcons" (click)="doItalic()"
                                                    [ngClass]="{'active': italic}"></i>
                                                <!-- <input type="button" ngbTooltip="Bold" (click)="doBold()" value="Bold"
                                                    class="btn" [ngClass]="{'btn-primary': bold}" />
                                                <input type="button" ngbTooltip="italic" (click)="doItalic()" value="Italic"
                                                    class="btn" [ngClass]="{'btn-primary': italic}"
                                                    style="font-style: italic; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" /> -->
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-2">
                                            <label for="font-color">Font Color</label>
                                            <div class="form-group">
                                                <input id="font-color" type="color" (change)="changeDrawing()"
                                                    [(ngModel)]="textColor" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-3">
                                            <label for="margin-top">Margin Top</label>
                                            <div class="form-group">
                                                <i class="fa fa-arrow-down formatIcons"
                                                    (click)="marginTopIncrement()"></i>
                                                <i class="fa fa-arrows-alt formatIcons"
                                                    (click)="marginTopBalance()"></i>
                                                <i class="fa fa-arrow-up formatIcons"
                                                    (click)="marginTopDecrement()"></i>
                                                <!-- <input id="margin-top" type="range" (change)="changeDrawing()" [(ngModel)]="top"
                                                    name="points" min="20" max="1800"> -->
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-3">
                                            <label for="margin-left">Margin Left</label>
                                            <div class="form-group">
                                                <i class="fa fa-arrow-left formatIcons"
                                                    (click)="marginLeftIncrement()"></i>
                                                <i class="fa fa-arrows-alt formatIcons"
                                                    (click)="marginLeftBalance()"></i>
                                                <i class="fa fa-arrow-right formatIcons"
                                                    (click)="marginLeftDecrement()"></i>
                                                <!-- <input id="margin-left" type="range" (change)="changeDrawing()"
                                                    [(ngModel)]="left" name="points" min="10" max="1600"> -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="shadowStyle" class="container tab-pane fade"><br>
                                    <div class="row">

                                        <div class="col-xl-2 col-md-2 mb-4">
                                            <label for="">Shadow color</label>
                                            <div class="form-group">
                                                <input type="color" id="shadowColor" (change)="changeDrawing()"
                                                    [(ngModel)]="shadowColor" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-3 mb-4">
                                            <label for="ShadowY">ShadowX</label>
                                            <div id="ShadowY" class="form-group">
                                                <i class="fa fa-arrow-left formatIcons"
                                                    (click)="shadowLeftIncrement()"></i>
                                                <i class="fa fa-arrows-alt formatIcons"
                                                    (click)="shadowLeftBalance()"></i>
                                                <i class="fa fa-arrow-right formatIcons"
                                                    (click)="shadowLeftDecrement()"></i>
                                                <!-- <input type="range" (change)="changeDrawing()" [(ngModel)]="shadowY"
                                                    name="points" min="0" max="100"> -->
                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-3 mb-4">
                                            <label for="shadowX">shadowY</label>
                                            <div class="form-group">
                                                <i class="fa fa-arrow-up formatIcons"
                                                    (click)="shadowTopDecrement()"></i>
                                                <i class="fa fa-arrows-alt formatIcons"
                                                    (click)="shadowTopBalance()"></i>
                                                <i class="fa fa-arrow-down formatIcons"
                                                    (click)="shadowTopIncrement()"></i>
                                                <!-- <input id="shadowX" type="range" (change)="changeDrawing()"
                                                    [(ngModel)]="shadowX" name="points" min="0" max="100"> -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="strockStyle" class="container tab-pane fade"><br>
                                    <div class="row">
                                        <div class="col-xl-2 col-md-2 mb-4">
                                            <label for="">Strock</label>
                                            <div class="form-group">

                                                <label>
                                                    <input type="checkbox" (click)="doStrock()" [checked]="strock"
                                                        value="strock" class="btn"
                                                        style="font-style: italic; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" />
                                                    Enable
                                                </label>

                                            </div>
                                        </div>

                                        <div *ngIf="strock" class="col-xl-2 col-md-2 mb-4">
                                            <label for="fill-color">Fill Color</label>
                                            <div class="form-group">
                                                <input [disabled]="!strock" id="fill-color" type="color"
                                                    (change)="changeDrawing()" [(ngModel)]="fillColor"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div *ngIf="strock" class="col-xl-2 col-md-2 mb-4">
                                            <label for="font-color">Font Color</label>
                                            <div class="form-group">
                                                <input id="font-color" type="color" (change)="changeDrawing()"
                                                    [(ngModel)]="textColor" class="form-control">
                                            </div>
                                        </div>
                                        <div *ngIf="strock" class="col-xl-2 col-md-2 mb-4">
                                            <label for="">Strock width</label>
                                            <div class="form-group">
                                                <input [disabled]="!strock" type="range" (change)="changeDrawing()"
                                                    [(ngModel)]="strockWidth" name="points" min="1" max="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <label for="newsTitle">News title</label>
                                <div class="form-group">
                                    <input formControlName="news_title" id="newsTitle" type="text"
                                        class="form-control" />
                                    <div *ngIf="submitted && f.news_title.errors" class="validation-feedback">
                                        <div *ngIf="f.news_title.errors.required">News title is required</div>
                                        <div *ngIf="f.news_title.errors.maxlength">News title will not allow 100
                                            characters.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <label for="newsTitle">News description</label>
                                <div class="form-group">
                                    <textarea formControlName="news_description" id="newsTitle"
                                        (keyup)="changeDrawing()" class="form-control" rows="2"></textarea>
                                    <div *ngIf="submitted && f.news_description.errors" class="validation-feedback">
                                        <div *ngIf="f.news_description.errors.required">News description is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <label for="newsTitle">Terms & condition</label>
                                <div class="form-group">
                                    <textarea formControlName="term_condition" id="newsTitle" (keyup)="changeDrawing()"
                                        class="form-control" rows="2"></textarea>
                                    <div *ngIf="submitted && f.term_condition.errors" class="validation-feedback">
                                        <div *ngIf="f.term_condition.errors.required">News terms & condition is required
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <div class="row">
                                    <div class="col-xl-6 col-md-6">
                                        <label for="newsTitle">Start date time</label>
                                        <div class="form-group">
                                            <input class="form-control" formControlName="start_date_time"
                                                [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12" [selectMode]="'single'"
                                                [min]="min" (dateTimeChange)=changeDate($event) required>
                                            <owl-date-time #dt12></owl-date-time>
                                            <div *ngIf="submitted && f.start_date_time.errors"
                                                class="validation-feedback">
                                                <div *ngIf="f.start_date_time.errors.required">Start date time is
                                                    required</div>
                                                <div *ngIf="f.start_date_time.status=='INVALID'">Start date time must be
                                                    getter then current date time.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-md-6">
                                        <label for="newsTitle">End date time</label>
                                        <div class="form-group">
                                            <input class="form-control" formControlName="end_date_time"
                                                [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13" [selectMode]="'single'"
                                                [min]="f.start_date_time.value" required>
                                            <owl-date-time #dt13></owl-date-time>
                                            <div *ngIf="submitted && f.end_date_time.errors"
                                                class="validation-feedback">
                                                <div *ngIf="f.end_date_time.errors.required">End date time is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12 mb-4">
                                <label for="newsTitle">Enabled</label>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label class="switch">
                                            <input type="checkbox" class="default" formControlName="enabled">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12">
                                <div class="row">
                                    <div class="col-xs-12 col-md-4 col-lg-4">
                                        <button type="submit" class="btns btn-1 btn-1b">Save</button>
                                    </div>
                                    <div class="col-xs-12 col-md-9"></div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-3 mb-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Text List</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body historyBox" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <div class="textList">
                        <div class="textListItem" *ngFor="let text of texts;let i= index"
                            [ngClass]="{'active': i==selectedTextIndex}" (click)="selectTextIndex(i)">
                            <i class="fa fa-font fontstyle"></i>
                            <span [ngStyle]="{fontFamily: getFontFamily(text.fontFamily)}">{{text.text}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-3 mb-4">
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <div class="card shadow">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Preview</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="previewdiv">
                                <canvas id="canvas" style="display: none;" #canvasEl width=800 height=600></canvas>
                                <img class="n-p-i" (mousedown)="onMouseMove($event)" draggable="true"
                                    (dragend)="onMouseDragEnd($event)" *ngIf="storeNewsDetails.id != undefined"
                                    src="{{imageUrl}}" alt="" crossorigin (dragover)="allowDrop($event)" />
                                <div>
                                    <div (mousedown)="onMouseMove($event)" draggable="true" id="previewImage"
                                        (dragover)="allowDrop($event)" (dragend)="onMouseDragEnd($event)"
                                        *ngIf="storeNewsDetails.id != undefined" class="n-p-i-overlay"
                                        style="background-color: red;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-md-12 ">
                    <div class="card shadow ">
                        <!-- Card Header - Dropdown -->
                        <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Select Image</h6>
                        </div> -->
                        <!-- Card Body -->
                        <div class="card-body">
                            <owl-carousel [options]="carouselOptions" [items]="images"
                                [carouselClasses]="['owl-theme', 'row', 'sliding']">
                                <div class="item" *ngFor="let image of images;let i= index">
                                    <img (click)="drawImage($event,image)" class="slide-image" src="{{image.image}}">
                                </div>
                            </owl-carousel>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>