@font-face {
    font-family: 'Pacifico';
    src: url('../../../assets/custom-fonts/Pacifico.ttf');
}
@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('../../../assets/custom-fonts/GreatVibes-Regular.otf');
}
@font-face {
    font-family: 'Lobster_1.3';
    src: url('../../../assets/custom-fonts/Lobster_1.3.otf');
}
@font-face {
    font-family: 'SEASRN__';
    src: url('../../../assets/custom-fonts/SEASRN__.ttf');
}
@font-face {
    font-family: 'Sail-Regular';
    src: url('../../../assets/custom-fonts/Sail-Regular.otf');
}
@font-face {
    font-family: 'FFF_Tusj';
    src: url('../../../assets/custom-fonts/FFF_Tusj.ttf');
}
@font-face {
    font-family: 'Chomsky';
    src: url('../../../assets/custom-fonts/Chomsky.otf');
}
@font-face {
    font-family: 'Windsong';
    src: url('../../../assets/custom-fonts/Windsong.ttf');
}

.textList{
 
   cursor: pointer;
}

.textListItem.active{
    background-color: #D7D8DB;
}
.textListItem{
    padding: 10px;
    margin-bottom: 1px;
    border:1px solid #D7D8DB;
}

#previewImage{
    cursor: pointer;
}
.draggable-cursor{
    cursor: move; /* fallback: no `url()` support or images disabled */
	cursor: -webkit-grabbing; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grabbing; /* Firefox 1.5-26 */
    cursor:         grabbing; /* W3C standards syntax, should come least */
}
.historyBox{
    border: inset;
    border-color: #D7D8DB;
    margin-right: 1px;
    padding: 0.25rem;
    max-height: 400px;
    overflow-y: auto;
    border-width: 1px;
    
}
.fontstyle{
    font-size: larger;
    padding-right: 10px;
}
.formatIcons{
    padding : 10px;
    border:1px solid #D7D8DB;
    cursor: pointer;
    border-radius: 5px;
}
.formatIcons.active{
    background-color: #D7D8DB;
}
.formatIcons-bold{
    margin-right: 10px;
}
.custom-select{
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background:#fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
}

.n-p-i{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}
.n-p-i-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  z-index: 10000;
}
.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    background-color: red;
}
.draggable {
    position: absolute;
    cursor: pointer; /* IE */
    cursor: -webkit-grab;
    cursor: grab;
}
.previewdiv{
    position: relative;
}