table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

.btns{
    width: auto !important;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
  }