<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Customers</h1>
    <button (click)="showFilter()" class="btns btn-1 btn-1b" data-step="4" data-position="left"
      data-intro="<b>Intro Title</b><hr> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vestibulum ac neque a pharetra. Phasellus volutpat augue ut finibus hendrerit. In maximus magna a enim egestas, congue porttitor diam sagittis.">
      <i class="fas fa-filter fa-sm text-white-100"></i> Filters</button>
  </div>


  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->


    <div class="col-md-12">

      <div *ngIf="isFilterEnabled" class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Advanced filter</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <label for="cutomer_name">Cutomer Information</label>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="cutomer_name">Name</label>
                    <input type="text" name="" id="cutomer_name" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="cutomer_contact">Contact No</label>
                    <input type="text" name="" id="cutomer_contact" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="reward_point_min">Reward point</label>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="reward_point_min">Min</label>
                    <input  type="text" id="reward_point_min" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="reward_point_max">Max</label>
                    <input type="text" id="reward_point_max" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="birthday_form">Birthday</label>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="birthday_form">From</label>
                    <input type="text" [(ngModel)]="birthday_min" id="birthday_form" class="form-control" [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12"
                    (dateTimeChange)=filterByBirthday()>
                    <owl-date-time #dt12 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="birthday_to">To</label>
                    <input type="text" [(ngModel)]="birthday_max" id="birthday_to" class="form-control" [owlDateTimeTrigger]="dt13" [owlDateTime]="dt13"
                    (dateTimeChange)=filterByBirthday()>
                    <owl-date-time #dt13 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="last_visit_form">Last visit</label>
              <div class="closeDiv">
                <i class="fa fa-users"></i>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="last_visit_form">From</label>
                    <input type="text" [(ngModel)]="lastVisit_min" id="last_visit_form" class="form-control" 
                    [owlDateTimeTrigger]="dt14" [owlDateTime]="dt14"
                    (dateTimeChange)="filterByLastVisit()">
                    <owl-date-time #dt14 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="last_visit_to">To</label>
                    <input type="text" [(ngModel)]="lastVisit_max" id="last_visit_to" class="form-control" 
                    [owlDateTimeTrigger]="dt15" [owlDateTime]="dt15"
                    (dateTimeChange)="filterByLastVisit()">
                    <owl-date-time #dt15 [pickerType]="'calendar'"></owl-date-time>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>

      <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Customer List</h6>
        </div> -->
        <div class="card-body">
          <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

              <div class="row">
                <div class="col-sm-12" *ngIf="customerList.length; else noRecord">
                  <table class="table table-bordered dataTable" datatable id="dataTable" width="100%" cellspacing="0"
                    role="grid" aria-describedby="dataTable_info" style="width: 100%;" [dtOptions]="dtOptions">
                    <thead>
                      <tr role="row">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact no.</th>
                        <th>Birthday</th>
                        <th>Last visit</th>
                        <th>Reward point</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr role="row" *ngFor="let customer of customerList; let i = index">
                        <td class="sorting_1">
                          <a routerLink="/home/customerDetails" [queryParams]="{customer_id: customer.customer_id}">
                            {{customer.first_name}} {{customer.last_name}}
                          </a>
                        </td>
                        <td>
                          {{customer.email}}
                        </td>
                        <td>{{customer.contact_number}}</td>
                        <td>{{customer.dob|date:'dd-MM-yyyy'}}</td>
                        <td>
                          {{customer.last_visit|date:'dd-MM-yyyy'}}
                        </td>
                        <td>
                          <span *ngIf="customer.balance; else elseBlock1">
                            {{customer.balance}}
                          </span>
                          <ng-template #elseBlock1>0</ng-template>
                        </td>

                      </tr>
                    </tbody>
                  </table>

                </div>
                <ng-template #noRecord class="row">
                  <div class="col-md-12" style="text-align: center;">
                    No record found
                  </div>
                </ng-template>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->