<form [formGroup]="redeemForm" (ngSubmit)="onSubmit()">
   <div class="modal-header">
       <div>Redeem reward</div>
   </div> 
  <div class="modal-body">
    <div class="active_reward">
        <div class="reward_title">{{reward.reward_title}}</div>
        <div class="reward_description">{{reward.reward_description}}</div>
        <hr class="a-c-h">
        <div class="row">
            <div class="col-md-6 r-b-d">
                Redeem for {{reward.points_required}} points
            </div>
            <div class="col-md-6 r_e_d">Valid till {{reward.end_date_time|date:'MMM d, y, h:mm a'}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
                <label for="remark">Services<span class="asterisk">*</span></label>
                <textarea formControlName="remark" class="form-control" id="remark" rows="3"></textarea>
                <div *ngIf="submitted && f.remark.errors" class="validation-feedback">
                    <div *ngIf="f.remark.errors.required">
                        Provide your service details here.
                    </div>
                </div>
            </div>
        </div>  
    </div>

 </div>
    <div class="modal-footer">
        <button (click)="activeModal.dismiss('Close clicked')" #closebtn style="width: 20%;" class="btns btns-link" type="button"
            data-dismiss="modal">Cancel</button>
        <button style="width: 20%;" class="btns btns-link btn-1 btn-1b" type="submit">Redeem</button>
    </div>

</form>
