.rewardlist{
    padding: 0px 10px;
    background-color: white;
    overflow-y: auto;
    height: 285px;
  }

  .active_reward{
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important
  }

  .active_reward > .reward_title{
    font-weight: 800;
    text-transform: capitalize;
  }

  .active_reward > .reward_description{
    font-size: small;
    text-transform: capitalize;
  }

  .r_e_d{
    font-size: x-small;  
    text-align: right;
  }

  .r-b-d{

  }

  .a-c-h{
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }