button.card-header {
    text-align: left;
    width: 100%;
    border: none;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

button.card-header:focus {
    text-decoration: none !important;
}

.setting_accordian .card {
    margin-bottom: 20px;
}

.card .card-header[data-toggle="collapse"]::after {
    line-height: 30px !important;
    color: #4e73df !important;
}

.upload-logo-btn,
.browse_pic {
    cursor: pointer !important;
}

.previewImageDiv {
    position: relative;
    width: 250px;
}

.color_previewImage {
    width: 250px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}