<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        
        <div class="admin_logo text-center p-b-35"><img src="assets/img/nali-logo.png" width="100px"></div>
        <span *ngIf="!customer" style="font-size: 18px;" class="login100-form-title p-b-18">Welcome</span>
        <span *ngIf="customer" style="font-size: 18px;" class="login100-form-title p-b-18">Hi, {{customerDetails.customer.first_name}} {{customerDetails.customer.last_name}}</span>
        <h5 *ngIf="customer"  class="text-center mt-4">
          You have {{customerDetails.earned_points}} Reward Points
        </h5>
        <main>
          <div *ngIf="!customer" class="container ">
            <form name="form" (ngSubmit)="f.form.valid && onStoreSubmit()" #f="ngForm" novalidates>
              <!-- <div class="row">
                <div class="col-md-4">
                  <select style="height: 62px;" value="213" [(ngModel)]="custPhonenumber.country_code" #country_code="ngModel"
                    class="form-control md-4" name="countryCode" id="">
                    <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                    <option data-countryCode="AD" value="376">Andorra (+376)</option>
  
                  </select>     
                </div>
                <div class="col-md-8"> -->
                  <div class="wrap-input100 validate-input m-b-25" data-validate="Username is required">
                    <input autocomplete="off" type="number"  placeholder="Enter Phone Number" (keypress)="numericOnly($event)"
                      maxlength="17" class="input100" name="phone_number" 
                      [(ngModel)]="custPhonenumber.phone_number"
                       #phone_number="ngModel" 
                       [ngClass]="{ 'is-invalid': f.submitted && phone_number.invalid }" required />
                    <span class="focus-input100"></span>
                    <div *ngIf="f.submitted && phone_number.invalid" class="invalid-feedback">
                      <div *ngIf="phone_number.errors.required">Phone number is required</div>
                    </div>
                  </div>
                <!-- </div>
              </div> -->
  
              <div *ngIf="salonDetails.length != 0" class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn">
                  Submit
                </button>
              </div>
            </form>
          </div>
          <div  *ngIf="customer" style="margin-top: 15px; padding: 10px;">
            <div class="card mt-12 shadow-lg mb-12">
              <div class="card-header">
                  <h5 style="color: #e09033;"> Available Rewards</h5>
              </div>
              <div *ngIf="customerDetails.active_rewards.length > 0" class="card-body">
                  <!-- <h5 *ngFor="let rewards of customerDetails.active_rewards" class="card-title mb-2 pb-3 border-bottom">
                    {{rewards.reward_title}} - {{rewards.points_required}} reward points is required</h5> -->
  
                    <div class="active_reward" *ngFor="let reward of customerDetails.active_rewards; let i = index">
                      <div style="    font-size: 19px;
                      font-weight: 700;
                      text-transform: capitalize;" class="reward_title">{{reward.reward_title}}</div>
                          <div style="height: 0;    margin-bottom: 2rem;" class="reward_description">{{reward.reward_description}}</div>
                          <!-- <hr class="a-c-h"> -->
                          <div class="row">
                              <div class="col-md-6 r-b-d">
                                  <!-- <button class="btn btn-success btn-sm" (click)="onRewardSubmit(reward.redeem_code)">Redeem</button> -->
                                  {{reward.points_required}} points
                              </div>
                              <div style="font-size: 12px;" class="col-md-6 r_e_d">Valid till {{reward.end_date_time|date:'MMM d, y, h:mm a'}}</div>
                          </div>
                          <hr class="a-c-h">
  
                  </div>
                  <!-- <h5 class="card-title"> <span class="text-success">$20</span> off on next services</h5> -->
  
              </div>
              <div *ngIf="customerDetails.active_rewards.length == 0" class="card-body">
                <h5  class="card-title mb-2 pb-3 border-bottom"> <span class="text-success"></span> No rewards available.</h5>
                <!-- <h5 class="card-title"> <span class="text-success">$20</span> off on next services</h5> -->
  
            </div>
          </div>
          <div style="text-align: center;    margin-top: 15px;" class="col-6  mx-auto">
            <h5 style="color: #e09033;">Return Back In <span id="time"><countdown
              #cd [config]="{ leftTime: 150,  demand: true,notify: [5, 7] }"
              (event)="timerTime($event)"
            ></countdown></span></h5>
         </div>
        </div>
        </main>
      </div>
    </div>
  </div>